.P-numbers-list {
    width     : calc(100% - 300px);
    border    : 1px solid #9a9797;
    padding   : 15px;
    display   : flex;
    flex-wrap : wrap;
    overflow: hidden;
    overflow-y: auto;
}

.P-info {
    width            : 300px;
    background-color : blanchedalmond;
    padding          : 15px;
}

.P-numbers-section {
    display : flex;
    height  : calc(100vh - 54px);
}