.P-input-section {
  padding          : 20px;
  background-color : #999999;

  .P-title {
    text-align : center;
  }
}

.P-send-message-btn {
  button {
    width            : 200px;
    height           : 35px;
    background-color : #5F309C;
    color            : white;
  }
}

.P-error-text {
  color : red;
}

.P-inout-error {
  input {
    border : 1px solid red;
  }
}

.P-form-data {
  display   : flex;
  flex-wrap : wrap;
  margin    : 0 -10px;
}


.P-input-block-100 {
  padding : 10px;
  width   : 100%;
}

.P-input-block-66 {
  padding : 10px;
  width   : 66.6666%;
}

.P-input-block-50 {
  padding : 10px;
  width   : 50%;
}

.P-input-block-33 {
  padding : 10px;
  width   : 33.333%;
}


.P-input-block-25 {
  padding : 10px;
  width   : 25%;
}