.P-logo {
  width               : 100px;
  height              : 40px;
  display             : block;
  background-position : center;
  background-size     : contain;
  background-repeat   : no-repeat;
}

.P-active{
  color: #34cce7;
}

.P-menu{
  a{
    color: black;

    &.P-active{
      color: #34cce7;
    }
  }
}